<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Creation</title>
</head>
<body>
    <a href="/">Go back</a>
    <form action="/mongooses" method="POST">
        Name: <input type="text" name="name">
        Stripes: <input type="number" name="stripes">
        Description: <textarea name="description"></textarea>
        <input type="submit">
    </form>
</body>
</html>