<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
</head>
<body>
    <h1>Here are the awesome quotes!</h1>
    <% for (var u of users) { %>
        <h3>"<%= u.quote %>"</h3>
        <h4> -<%= u.name %> at <%= u.createdAt.toLocaleTimeString() %>, <%= u.createdAt.toDateString() %></h4>
    <% } %>
</body>
</html>